@font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.basic {
  font-family: "JalnanGothic", sans-serif;
}

/*중간 멘트*/
.basic h2 {
  text-align: center;
  font-size: 60px;
  padding: 60px 0;
  margin: 0;
  font-weight: 100;
}

.txtCnt {
  text-align: center;
  margin-bottom: 80px;
}
.txtCnt span {
  display: inline-block;
  margin: 20px 30px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
}

/*버튼 레이아웃 배열 css*/
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.section1_b {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.section1_b_1 {
  display: flex;
}
.section2 {
  display: flex;
}
