@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #000981;
  font-family: "JalnanGothic", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
}

.beforeBtn {
  position: fixed;
  top: 320px;
  left: 10%;
  width: 100px;
  background-color: #2f303c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  margin-bottom: 10px;
}

.nextBtn {
  position: fixed;
  top: 320px;
  left: 83%;
  width: 100px;
  background-color: #2f303c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  margin-bottom: 10px;
  margin: 0 auto;
}

.beforeBtn:hover {
  background-color: #00098177;
  color: #000981;
}

.nextBtn:hover {
  background-color: #00098177;
  color: #000981;
}

.topic {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 55px;
  text-align: center;
  padding-top: 200px;
}

.home a {
  text-decoration-line: none;
  color: black;
  font-size: 50px;
  position: fixed;
  top: 10px;
  right: 30px;
}

.home a:hover {
  color: #000981;
}
.txtCnt {
  text-align: center;
  font-size: 30px;
  margin-bottom: 80px;
  display: inline-block;
  margin: 20px 30px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.txtCntF {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  margin-bottom: 80px;
  display: inline-block;
  margin: 20px 30px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
}
