.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.profile-link {
  margin-right: 100px;
  margin-bottom: 0px;
}

.profile-link {
  position: relative; /* 추가 */
  display: inline-block; /* 추가 */
}

.header__menu li:hover:before {
  opacity: 1; /* 추가 */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background: white;
  width: 100%;
  display: flex;
  color: #002a32;
  padding: 50px;
  font-weight: 450;
  font-size: 50px;
}

/* */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* font-family: 'Noto Sans', sans-serif; */

html,
body {
  margin: 0;
  max-width: 100%;
}

.header a {
  text-decoration: none;
  color: #002a32;
}

.header {
  margin: 0;
  font-family: "JalnanGothic", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 34px 100px;
}

.header__logo {
  font-size: 13px;
}

.header__menu {
  display: flex;
  font-size: 8px;
  list-style: none;
  padding-left: 0;
  position: absolute; /* 추가 */
  right: 0;
}

.header__menu li {
  padding: 20px 20px;
}

.header__menu li:hover {
  position: relative; /* li 요소에 상대적인 위치 설정 */
}

.header__menu li:hover a {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 24px;
  }
  .header__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header__menu li {
    width: 100%;
    text-align: center;
  }
}

/*배너 */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header2 {
  background: white;
  width: 100%;
  display: flex;
  color: #000981;
  padding: 1px;
  font-weight: 450;
  font-size: 50px;
}

/* */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* font-family: 'Noto Sans', sans-serif; */

body {
  margin: 0;
  max-width: 100%;
}

.header2 b {
  text-decoration: none;
  color: white;
}

.header2 {
  margin: 0;
  font-family: "JalnanGothic", sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002a32;
  padding: 0.002px px;
}

.header2__logo {
  font-size: 32px;
}

.header2__logo img {
  vertical-align: middle;
  height: 40px;
  padding-right: 10px;
}

.header2__menu {
  display: flex;
  font-size: 17px;
  list-style: none;
  padding-left: 0;
  margin-right: auto;
}

.header2__menu li {
  padding: 0.05px 25px;
}

.header2__menu li:hover b {
  color: #fff4bb;
}

.header2__menu b {
  margin-right: 0.2px; /* 원하는 간격 크기로 조정하세요 */
}

@media screen and (max-width: 768px) {
  .header2 {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 24px;
  }
  .header2__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header2__menu li {
    width: 100%;
    text-align: center;
  }
}

/*배너 */
.video-background {
  position: relative;
  overflow: hidden;
}

.video-background video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-background .massage {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: "JalnanGothic", sans-serif;
  font-size: 10px;
  color: #ffffff;
  /* 텍스트에 대한 스타일 속성들 */
  /* 필요에 따라 애니메이션 속성 추가 */
}

.video-background .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: "JalnanGothic", sans-serif;
  font-size: 90px;
  color: #ffffff;
  /* 텍스트에 대한 스타일 속성들 */
  /* 필요에 따라 애니메이션 속성 추가 */
}
.circle-icons {
  position: absolute;
  margin-top: 240px; /* 아이콘의 수직 위치 조정 */
  left: 50%; /* 아이콘의 수평 위치 조정 */
  transform: translateX(-50%); /* 아이콘을 가운데로 정렬 */
  display: flex;
  justify-content: center;
}

/*그리드시작*/
.grid1 {
  margin: 10px;
  padding: 20px;
  font-family: "JalnanGothic", sans-serif;
  font-size: 20px;
  color: #002a32;
  margin-left: 90px;
  margin-top: -500px;
}
.grid2 {
  margin: 10px;
  padding: 20px;
  font-family: "JalnanGothic", sans-serif;
  font-size: 20px;
  color: #002a32;
  margin-left: 800px;
}
.grid3 {
  margin: 10px;
  padding: 20px;
  font-family: "JalnanGothic", sans-serif;
  font-size: 20px;
  color: #002a32;
  margin-left: 90px;
}
/*footer*/
.footer {
  border: 5px solid;
  background-color: black;
  padding-bottom: 30px;
  font-family: "JalnanGothic";
}

/*LOGO 이미지 설정*/
.footer #likelionLogo-footer {
  float: left;
  height: 30px;
  display: block;
  max-width: 100%;
}

#title-footer {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 958;
}

/*소속, 주소 설명 요인*/
.footer #likelionAddress-footer {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 0.8;
}

/*추가적인 연락처*/
.footer #likelionContact-footer {
  position: relative;
}

/*li요소 초기화*/
.footer #likelionContact-footer li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}

.footer #likelionContact-footer li,
.footer a {
  height: 30px;
  display: block;
}

.footer #github {
  left: 0px;
  width: 30px;
  background: url("https://i.ibb.co/GMZVSv2/Result.png") 0 0;
}

.footer #instargram {
  left: 30px;
  width: 30px;
  background: url("https://i.ibb.co/GMZVSv2/Result.png") -30px 0;
}

.footer #web-official {
  left: 60px;
  width: 30px;
  background: url("https://i.ibb.co/GMZVSv2/Result.png") -60px 0;
}

/*마우스 포인터가 접촉되었을때 hover효과*/
.footer #github a:hover {
  background: url("https://i.ibb.co/GMZVSv2/Result.png") 0 -30px;
}

.footer #instargram a:hover {
  background: url("https://i.ibb.co/GMZVSv2/Result.png") -30px -30px;
}

.footer #web-official a:hover {
  background: url("https://i.ibb.co/GMZVSv2/Result.png") -60px -30px;
}
