.balanceGame {
  height: 510px;
  width: 300px;
}
.if,
.seriousConver {
  width: 300px;
  height: 250px;
}
.romantic {
  width: 610px;
  height: 250px;
}
.friend {
  width: 605px;
  height: 250px;
}
.icebreaking {
  width: 305px;
  height: 250px;
}

/*공통 css*/

.title {
}

.balanceGame,
.friend,
.icebreaking,
.if,
.romantic,
.seriousConver {
  position: relative;
  margin: 5px 5px 5px 5px;
  border-radius: 40px;
}

.balanceGame,
.friend,
.icebreaking,
.if,
.romantic,
.seriousConver {
  /* font-size: 100px; */
}
